body {
	background-image: url(Images404/fond4042.jpg);
	background-size: cover;
}

h1 {
	font-size: 600%;
	font-family: constantia;
	text-align: center;
	margin-top: 0px;
	margin-left: 120px;
}

p {
	font-size: 200%;
	color: white;
	text-align: center;
	text-shadow: 2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black, 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;

}

hr {
	background-color: black;
	height: 2px;
}

a {
	color: white;
	text-shadow: 2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black, 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;
	text-decoration: none;
}

a:hover {
	font-size: 90%;
}

.img {
	float: right;
	margin-top: 0px;
}

span {
    animation: Test 1.5s infinite;
}

@keyframes Test{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}